*{
    margin: 0;
    padding: 0;
}

/*----Navigation----*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar a.active{
    background-color: #04aa6d;
    color: white;
}

.navbar-brand img{
    height: 100px;
    padding-left: 30px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff !important;
}


.navbar a:hover {
    background-color: #04aa6d;
  }

  @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.navbar-toggler{
    border: none !important;
}

.nav-link{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

/*----About----*/
.content-section{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(images/qxeQYK.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
    margin: 2em;
    font-size: 20px;
  }
  
  .container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
  }

  /*----footer----*/
  #contacts{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form{
    padding: 30px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder{
    color: #999 !important;
}

.form-group{
    padding-bottom: 10px;
}

.btn{
    margin-top: 10px;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=checkbox] {
    margin-top: 16px;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }

  footer {
        text-align: center;
        padding: 3px;
        background-color: green;
        color: white;
  }
  